body {
    font-family: Helvetica;
}

h1 {
    margin: 0 0 15px;

    font-family: Arial Rounded MT Bold;
    text-align: center;
}

.form-control {
    display: block;

    width: 94%;
    height: 20px;

    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;

    font-size: 14px;

    background-color: #fff;
    color: #555;
}

.login, .signup {
    width: 400px;
    height: 230px;

    margin: 150px auto;
    border-radius: 5px;
    padding: 30px;
    
    box-shadow: 0px 2px 3px #D3D3D3;
    background-color: #f2f2f2;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signup {
    height: 380px;
}

#loginBtn, #signupBtn {
    width: 100%;
    height: 30px;

    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;

    background-color: #7592D2;
    color: white;
}

#loginBtn:hover, #signupBtn:hover {
    background-color: #3a5795;
}

.user-status {
    width: 500px;
    margin: auto;
    background-color: rgb(172, 176, 178);
    color: rgb(39, 42, 32);
    padding: 30px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

li.status {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 5px;
}

.likes {
    color: rgba(0, 81, 255, 0.54);
}